$color-text:black;
$color-fon:red;

@mixin text {
    font-family: "SchoolBook";
    font-style: "regular";
    font-size: 200%;
    color: $color-text;
}




@font-face {
    font-family: 'amsterdam';
    src: url(./font/amsterdam.otf) format("opentype");
}

@font-face {
    font-family: 'Open Sans';
    src: url("./font/open-sans.ttf") format("truetype");
}

@font-face {
    font-family: 'AdineKirnberg';
    src: url("./font/adine-kirnberg.ttf") format("truetype");
}

@font-face {
    font-family: 'SchoolBook';
    src: url("./font/schoolbook.ttf") format("truetype");
}


#menu {
    position: fixed;
    display: inline-block;
    z-index: 10;

    .nav {
        justify-content: center;
        font-family: 'SchoolBook';
        font-style: 'regular';
        font-size: 200%;

        li {
            margin-left: 1%;
            margin-right: 1%;

            a {
                text-decoration: none;
                color: $color-text;
            }
        }
    }
}

.main {
    margin-top: 10%;
    display: inline-block;

    .main-description {
        .main-container-images {
            .main-image {
                width: 120%;
                height: 28%;
            }
        }
    }

    .right-column-info {
        .text {
            @include text;
        }
    }
}


#footer {
    margin-top: 20%;

    footer {
        .container-footer {
            .search-form-footer {
                #email-footer {
                    background-color: white;
                }
            }
        }
    }

    .footer-info {
        img {
            width: 10%;
        }
    }
}


@media (min-width:768px) and (max-width:1020px) {
    .main {
        margin-top: 25%;
    }
}

@media (min-width:1020px) and (max-width:1366px) {
    .main {
        margin-top: 40%;
    }

    #footer {
        margin-top: 40%;
    }
}